<% if book.errors.any? %>
 <%= book.errors.count %>error prohibited this obj from being saved:
 <% book.errors.full_messsages.each do |messege| %>
   <%= messege %>
  <% end %>
<% end %>

<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %><br>

<h6>Name</h6>
 <%= user.name %><br>
<h6>Introduction</h6>
 <%= user.introdution %><br>
 <%= link_to edit_user_path(user) do %>
  <span class="fas fa-user-cog"></span>
 <% end %>

 <h1>New book</h1>
  <%= form_with model: book, local:true do |f| %>
 <h6>Title</h6>
  <%= f.text_field :title %>
 <h6>Opinion</h6>
  <%= f.text_area :body %>
  <%= f.submit "Create Book",class: "btn btn-success" %>
  <% end %>
